
@{
    ViewBag.Title = "DisplayCustomers";
}

<table border="1" align="center">
<tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Mail ID</th>
    <th>Mobile Number</th>
    <th>Date of Birth</th>
    <th>Gender</th>
    <th>Password</th>
</tr>
@foreach (OnlineEventManagementSystem.Entity.Account item in ViewBag.Customers)
{
    if (@item.Roles.Equals("User"))
    {
        <tr>
            <td>@item.UserID</td>
            <td>@item.UserFirstName</td>
            <td>@item.UserLastName</td>
            <td>@item.UserMailId</td>
            <td>@item.UserMobileNumber</td>
            <td>@item.UserDOB</td>
            <td>@item.UserGender</td>
            <td>@item.UserPassword</td>
        </tr>
    }

}
</table>
