<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/design.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/Script.js"></script>
</head>
<body>
    <div class="whole-continer">
        <div class="top-nav">
            <div class="container">
                <div class="title-bar">
                    @Html.ActionLink("Ashik Event Management", "Index", "Home", new { area = "" }, new { @class = "title-nav" })
                </div>
                <div class="option-bar">
                    <ul>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>

                        @if (HttpContext.Current.User.IsInRole("User"))
                        {
                            <li>@Html.ActionLink("Events", "Event", "Home")</li>
                            <li>@Html.ActionLink("Services", "Service", "Home")</li>
                        }
                        @if (HttpContext.Current.User.IsInRole("Admin"))
                        {
                            <li>
                                @Html.ActionLink("Events", "DisplayEvents", "Event")
                                <ul class="drop-down">
                                    <li>@Html.ActionLink("View Events", "DisplayEvents", "Event")</li>
                                    <li>@Html.ActionLink("Add Event", "AddEvent", "Event")</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink("Services", "DisplayServices", "Service")
                                <ul class="drop-down">
                                    <li>@Html.ActionLink("View Services", "DisplayServices", "Service")</li>
                                    <li>@Html.ActionLink("Add Service", "AddService", "Service")</li>
                                </ul>
                            </li>
                            <li>
                                @Html.ActionLink(" Service categories", "DisplayCategories", "ServiceCategory")
                                <ul class="drop-down">
                                    <li>@Html.ActionLink("View Categories", "DisplayCategories", "ServiceCategory")</li>
                                    <li>@Html.ActionLink("Add Category", "AddCategory", "ServiceCategory")</li>
                                </ul>
                            </li>
                            @*<li>
                                @Html.ActionLink("Packages", "DisplayPackage", "Package")
                                <ul class="drop-down">
                                    <li>@Html.ActionLink("View Packages", "DisplayPackage", "Package")</li>
                                    <li>@Html.ActionLink("Add Package", "AddPackage", "Package")</li>
                                </ul>
                            </li>*@
                            <li>@Html.ActionLink("Customers", "DisplayCustomers", "Admin")</li>
                        }
                        @if (Request.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Account")</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "SignUp", "Account")</li>
                            <li>@Html.ActionLink("Login", "Login", "Account")</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-content">
            @RenderBody()
        </div>
    </div>
    <footer></footer>

</body>
</html>
