@model OnlineEventManagementSystem.Models.ServiceModel

@{
    ViewBag.Title = "AddService";
}
@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
}
@using (Html.BeginForm("AddService", "Service", FormMethod.Post))
{
    @Html.ValidationSummary(true);
    <table>
        <tr>
            <td>@Html.LabelFor(Model => Model.ServiceName)</td>
            <td>
                @Html.TextBoxFor(Model => Model.ServiceName, new { @maxlength = "20" })
                @Html.ValidationMessageFor(model => model.ServiceName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ServiceCategory)
            </td>
            <td>
                @Html.DropDownList(Model => Model.ServiceCategory, "Decoration")Decoration

                @Html.ValidationMessageFor(model => model.ServiceCategory)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.EventType)
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.EventType,"Personal")Personal
                @Html.RadioButtonFor(Model => Model.EventType, "Corporate")Corporate
                @Html.RadioButtonFor(Model => Model.EventType, "Both")Both

                @Html.ValidationMessageFor(model => model.EventType)
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <input type="submit" value="Add" />
            </td>
        </tr>
    </table>
}


