@model OnlineEventManagementSystem.Models.ServiceModel

@{
    ViewBag.Title = "UpdateService";
}

@if (TempData["Message"] != null)
{
    @Html.Label((string)TempData["Message"])
    @Html.ActionLink("Display services", "DisplayService")
}
@using (Html.BeginForm("UpdateService", "Service", FormMethod.Post))
{
    @Html.HiddenFor(Model => Model.ServiceId)
    <table cellpadding="10" align="center">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ServiceName)
            </td>
            <td>
                @Html.EditorFor(Model => Model.ServiceName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ServiceCategory)
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.EventType)
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.EventType, "Personal")Personal
                @Html.RadioButtonFor(Model => Model.EventType, "Corporate")Corporate
            </td>
        </tr>
        <tr>
            <td>
                @Html.ActionLink("Cancel", "DisplayEvents", "Event")
            </td>
            <td>
                <input type="submit" value="Update" />
            </td>
        </tr>
    </table>

}


