@model OnlineEventManagementSystem.Models.LoginModel

@{
    ViewBag.Title = "Login";
}
<h2 style="text-align:center">Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <table cellpadding="10" align="center">
        <tr>
            <td style="text-align:center">@Html.ValidationMessage("LoginError", new { @class = "error-text" })</td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserMailId)<br />
                @Html.TextBoxFor(Model => Model.UserMailId, new { @maxlength = "64", @class = "box" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.Password)<br />
                @Html.PasswordFor(Model => Model.Password, new { @maxlength = "15", @class = "box"})
            </td>
        </tr>
        <tr style="text-align:center">
            <td colspan="2">
                <input type="submit" value="Login" class="button"/>
            </td>
        </tr>
    </table>
}
