@model OnlineEventManagementSystem.Models.SignUpViewModel

@{
    ViewBag.Title = "SignUp";
}


@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    <h2 style="text-align:center">SignUp</h2>
    @Html.ValidationSummary(true);
    <table cellpadding="10" align="center">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserFirstName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserFirstName, new { @maxlength = "30" })<br />
                @Html.ValidationMessageFor(model => model.UserFirstName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserLastName)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserLastName, new { @maxlength = "30" })<br />
                @Html.ValidationMessageFor(model => model.UserLastName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserMobileNumber)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserMobileNumber, new { @maxlength = "10" })<br />
                @Html.ValidationMessageFor(model => model.UserMobileNumber)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserMailId)
            </td>
            <td>
                @Html.TextBoxFor(Model => Model.UserMailId, new { @maxlength = "64" })<br />
                @Html.ValidationMessageFor(model => model.UserMailId)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserGender)
            </td>
            <td>
                @Html.RadioButtonFor(Model => Model.UserGender, "male")Male
                @Html.RadioButtonFor(Model => Model.UserGender, "female")Female<br />
                @Html.ValidationMessageFor(model => model.UserGender)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserPassword)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.UserPassword, new { @maxlength = "15" })<br />
                @Html.ValidationMessageFor(model => model.UserPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ReenteredPassword)
            </td>
            <td>
                @Html.PasswordFor(Model => Model.ReenteredPassword, new { @maxlength = "15" })<br />
                @Html.ValidationMessageFor(model => model.ReenteredPassword)
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserDOB)
            </td>
            <td>
                @Html.EditorFor(Model => Model.UserDOB)
                @Html.ValidationMessageFor(model => model.UserDOB)
            </td>
        </tr>
        <tr colspan="2">
            <td>
                <input type="Submit" value="Register" />
            </td>
        </tr>
    </table>
}


