@model OnlineEventManagementSystem.Models.SignUpModel

@{
    ViewBag.Title = "SignUp";
}


@using (Html.BeginForm("SignUp", "Account", FormMethod.Post))
{
    <h2 style="text-align:center">SignUp</h2>
    @Html.ValidationSummary(true);
    <table cellpadding="10" align="center">
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserFirstName)<br />
                @Html.TextBoxFor(Model => Model.UserFirstName, new { @maxlength = "30", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.UserFirstName,"", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserLastName)<br />
                @Html.TextBoxFor(Model => Model.UserLastName, new { @maxlength = "30", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.UserLastName, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserMobileNumber)<br />
                @Html.TextBoxFor(Model => Model.UserMobileNumber, new { @maxlength = "10", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.UserMobileNumber, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserMailId)<br />
                @Html.TextBoxFor(Model => Model.UserMailId, new { @maxlength = "64", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.UserMailId, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserGender)<br />
                @Html.RadioButtonFor(Model => Model.UserGender, "Male")Male
                @Html.RadioButtonFor(Model => Model.UserGender, "Female")Female<br />
                @Html.ValidationMessageFor(model => model.UserGender, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserPassword)<br />
                @Html.PasswordFor(Model => Model.UserPassword, new { @maxlength = "15", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.UserPassword, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.ReenteredPassword)<br />
                @Html.PasswordFor(Model => Model.ReenteredPassword, new { @maxlength = "15", @class = "box" })<br />
                @Html.ValidationMessageFor(model => model.ReenteredPassword, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr>
            <td>
                @Html.LabelFor(Model => Model.UserDOB)<br />
                @Html.EditorFor(Model => Model.UserDOB)<br />
                @Html.ValidationMessageFor(model => model.UserDOB, "", new { @class = "error-text" })
            </td>
        </tr>
        <tr style="text-align:center">
            <td colspan="2">
                @Html.ValidationMessage("SignUpError", new { @class = "error-text" })
            </td>
        </tr>
        <tr style="text-align:center">
            <td colspan="2">
                <input type="Submit" value="Register" class="button" />
            </td>
        </tr>
    </table>
}


