@model OnlineEventManagementSystem.Models.EventModel

@{
    ViewBag.Title = "AddEvent";
}


@using (Html.BeginForm("AddEvent", "Event", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true);
    <table align="center">
        <caption>Add Event</caption>
        <tr style="text-align:center">
            <td>
                @if (TempData["Message"] != null)
                {
                    @Html.Label((string)TempData["Message"], new { @class = "error-text" })
                }
            </td>
        </tr>
        <tr>
            <td>
            @Html.LabelFor(Model => Model.EventName)<br />
            @Html.TextBoxFor(Model => Model.EventName, new { @maxlength = "20", @class = "box" })<br />
            @Html.ValidationMessageFor(model => model.EventName, "", new { @class = "error-text" })
        </td>
    </tr>
    <tr>
        <td>
            @Html.LabelFor(Model => Model.EventType)<br />
            @Html.RadioButtonFor(Model => Model.EventType, "Personal")Personal
            @Html.RadioButtonFor(Model => Model.EventType, "Corporate")Corporate<br />
            @Html.ValidationMessageFor(model => model.EventType, "", new { @class = "error-text" })
        </td>
    </tr>
    <tr style="text-align:center">
        <td colspan="2">
            <input type="submit" value="Add" class="button" />
        </td>
    </tr>
</table>
}

