
@{
    ViewBag.Title = "DisplayEvents";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<table border="1" align="center">
    <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Type</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    @foreach (OnlineEventManagementSystem.Entity.Event item in ViewBag.Events)
    {
        <tr>
            <td>@item.EventId</td>
            <td>@item.EventName</td>
            <td>@item.EventType</td>
            
            <td>
                @Html.ActionLink("Update", "UpdateEvent", new { id = item.EventId})
            </td>
            <td>
                @Html.ActionLink("Delete", "DeleteEvent", new { id = item.EventId }, new { onclick="retrun confirm('Are you sure to delete?');"})
            </td>
        </tr>
    }
</table>
